// ========================================================
// @components: button
// ========================================================

button {
  padding: $spacing-2 56px;
  height: 46px;
  border: 1px solid $white;
  border-radius: 40px;
  font-size: $font-size-6;
  font-weight: $font-bold;
  color: $mid-grey;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 14px;
  @include transition;
  cursor: pointer;
  white-space: nowrap;

  &:hover {
    background-color: $dark-grey;
    border-color: $dark-grey;
    color: $white;
  }
}
