// ========================================================
// @components: hero
// ========================================================

.hero {
  background: radial-gradient(#585858, #333333);
  padding: 240px 0;
}

.hero-logo {
  @include flexbox;
  @include align-items-center;
  @include justify-content-center;
  margin: 0 auto;

  h1 {
    margin: 0;
    padding-left: $spacing-2;
  }
}

@media screen and (max-width:550px) {
  .hero {
    padding: 200px 0;
  }

  .hero-logo {
    svg {
      width: 52px;
    }

    h1 {
      font-size: $font-size-2;
      padding-left: $spacing-1;
    }
  }
}
