// ========================================================
// @components: hero
// ========================================================

.hero {
  background: radial-gradient(#585858, #333333);
  padding: 240px 0;
}

.hero-logo {
  @include flexbox;
  @include align-items-center;
  @include justify-content-center;
  margin: 0 auto;

  h1 {
    margin: 0;
    padding-left: $spacing-2;
  }
}
