// ========================================================
// @components: introduction
// ========================================================

.introduction h2 {
  max-width: 656px;
  margin: 0 auto;
  margin: $spacing-7 auto;
}
