// ========================================================
// @components: introduction
// ========================================================

.introduction h2 {
  max-width: 656px;
  margin: 0 auto;
  margin: $spacing-7 auto;
}

@media #{$breakpoint-small} {
  .introduction h2 {
    margin-bottom: $spacing-5;
    text-align: left;
    margin-left: $spacing-3;
    margin-right: $spacing-3;
  }

}
