// ========================================================
// @components: more-info
// ========================================================

.more-info {
  background-color: $orange;
  color: white;

  .container {
    @include flexbox;
    @include align-items-center;
    @include justify-content-space-between;
  }

  p {
    max-width: 700px;
    margin-top: $spacing-4;
    margin-bottom: $spacing-4;
  }

  button {
    margin-left: $spacing-4;
  }
}

@media screen and (max-width:550px) {
  .more-info .container {
    @include flex-direction-column;

    p {
      margin-top: $spacing-5;
      margin-bottom: $spacing-5;
    }

    button {
      margin-left: 0px;
      margin-right: 0px;
      margin-bottom: $spacing-5;
    }
  }
}
