// ========================================================
// @components: side-nav
// ========================================================


.side-nav-toggle {
  @include user-select-none;
  cursor: pointer;
  height: 2rem;
  right: 2rem;
  position: fixed;
  top: 26px;
  width: 76px;
  z-index: 2;
  background-color: $orange;
  @include flexbox;
  @include align-items-center;
  padding: 4px 12px;

  p {
    padding-left: $spacing-4;
    color: $white;
  }

  &:hover {
    opacity: 0.8;
  }

  .side-nav-toggle-icon,
  .side-nav-toggle-icon::after,
  .side-nav-toggle-icon::before {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: white;
    content: '';
    height: 2px;
  }

  .side-nav-toggle-icon {
    margin-top: 0;
    width: 22px;

    &::after {
      margin-top: 6px;
      width: 22px;
    }

    &::before {
      margin-top: -6px;
      width: 22px;
    }
  }
}




.side-nav-toggle.expanded {
  .side-nav-toggle-icon {
    background: transparent;

    &::after,
    &::before {
      background: white;
      margin-top: 0;
    }

    &::after {
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    &::before {
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }
}


/* nav */
.side-nav {
  -webkit-transition: right 0.5s ease;
  -moz-transition: right 0.5s ease;
  -ms-transition: right 0.5s ease;
  -o-transition: right 0.5s ease;
  transition: right 0.5s ease;
  background: $light-grey;
  color: white;
  cursor: pointer;
  font-size: 2rem;
  height: 100vh;
  right: -310px;
  padding: 6rem 2rem 2rem 2rem;
  position: fixed;
  top: 0;
  width: 240px;
  z-index: 1;

  ul {
    list-style: none;
    margin-top: $spacing-3;
    padding: 0;
    text-align: center;

    li {
      margin-bottom: $spacing-3;
    }

    a {
      font-size: $font-size-4;
      line-height: $line-height-3;
      color: $dark-grey;

      &:hover {
        border-bottom: $dark-grey 2px solid;
        padding-bottom: 1px;
      }
    }
  }
}

.side-nav.expanded {
  right: 0;
}
