// ========================================================
// @settings: colors
// ========================================================

$white: #ffffff;
$pale-grey: #f5f5f5;
$light-grey: #b2b2b2;
$mid-grey: #515356;
$dark-grey: #333333;
$black: #000000;
$orange: #ff6008;
