// ========================================================
// @objects: grid
// ========================================================

.grid {
  margin-left: -$spacing-5;
  margin-right: -$spacing-5;
  @include flexbox;
  margin-bottom: $spacing-5;

  &>div {
    margin-left: $spacing-5;
    margin-right: $spacing-5;

  }
}

.w-third {
  width: $width-third;
}

.w-two-thirds {
  width: $width-two-thirds;
}
