@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.25rem;
  line-height: 1.625rem;
  font-weight: 400;
  letter-spacing: 0.3px;
  color: #b2b2b2;
  -webkit-font-smoothing: antialiased !important;
  margin: 0;
}

.font-style-1 {
  font-size: 4.5rem;
  line-height: 6.125rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: #ffffff;
}

.font-style-2 {
  font-size: 2.625rem;
  line-height: 3rem;
  font-weight: 400;
  letter-spacing: -1px;
  text-align: center;
  color: #333333;
}

.font-style-3 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
  letter-spacing: -0.03px;
  color: #515356;
  margin-bottom: 1rem;
}

.font-style-4 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 400;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.font-style-5 {
  font-size: 0.875rem;
  line-height: 1.375rem;
  letter-spacing: 1.5px;
  color: #b2b2b2;
  font-weight: 400;
}

.font-style-6 {
  font-size: 0.75rem;
  line-height: 1.25rem;
  letter-spacing: 0.4px;
  color: #b2b2b2;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #b2b2b2;
}

ul {
  list-style-type: none;
}

.grid {
  margin-left: -3rem;
  margin-right: -3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3rem;
}

@media screen and (min-width: 48rem) and (max-width: 64rem) {
  .grid {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
}

@media screen and (max-width: 48rem) {
  .grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
}

.line-limit {
  max-width: 528px;
}

.about {
  max-width: calc(100% / 3 * 2);
  margin-left: 3rem;
  margin-right: 3rem;
}

@media screen and (min-width: 48rem) and (max-width: 64rem) {
  .about {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}

@media screen and (max-width: 48rem) {
  .about {
    max-width: 100%;
  }
}

button {
  padding: 1rem 56px;
  height: 46px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 40px;
  font-size: 0.75rem;
  font-weight: 700;
  color: #515356;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 14px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  white-space: nowrap;
}

button:hover {
  background-color: #333333;
  border-color: #333333;
  color: #ffffff;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-left: -4rem;
  margin-right: -4rem;
  padding: 4rem 0;
}

.footer-content .logo-small {
  margin-left: 4rem;
  margin-right: 3rem;
  padding-right: 2rem;
}

.footer-content ul {
  margin-top: 0;
  margin-left: 4rem;
  margin-right: 4rem;
}

.footer-content ul a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer-content ul a:hover {
  color: #333333;
}

.footer-list-heading {
  font-size: 0.75rem;
  line-height: 1.375rem;
  letter-spacing: 1px;
  color: #515356;
  text-transform: uppercase;
}

.footer-list-item {
  font-size: 0.75rem;
  line-height: 1.375rem;
  letter-spacing: 1px;
  color: #b2b2b2;
}

@media screen and (max-width: 650px) {
  .footer-content {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -2rem;
    margin-right: -2rem;
    padding-top: 2rem;
  }
  .footer-content .logo-small {
    width: 100%;
    margin-bottom: 2rem;
    padding-right: 0;
  }
  .footer-content ul {
    padding-left: 0;
  }
}

.hero {
  background: radial-gradient(#585858, #333333);
  padding: 240px 0;
}

.hero-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
}

.hero-logo h1 {
  margin: 0;
  padding-left: 1rem;
}

@media screen and (max-width: 550px) {
  .hero {
    padding: 200px 0;
  }
  .hero-logo svg {
    width: 52px;
  }
  .hero-logo h1 {
    font-size: 2.625rem;
    padding-left: 0.5rem;
  }
}

.introduction h2 {
  max-width: 656px;
  margin: 0 auto;
  margin: 5rem auto;
}

@media screen and (max-width: 48rem) {
  .introduction h2 {
    margin-bottom: 3rem;
    text-align: left;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}

.more-info {
  background-color: #ff6008;
  color: white;
}

.more-info .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.more-info p {
  max-width: 700px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.more-info button {
  margin-left: 2rem;
}

@media screen and (max-width: 550px) {
  .more-info .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .more-info .container p {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .more-info .container button {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 3rem;
  }
}

.side-nav-toggle {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  height: 2rem;
  right: 2rem;
  position: fixed;
  top: 26px;
  width: 76px;
  z-index: 2;
  background-color: #ff6008;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 4px 12px;
}

.side-nav-toggle p {
  padding-left: 2rem;
  color: #ffffff;
}

.side-nav-toggle:hover {
  opacity: 0.8;
}

.side-nav-toggle .side-nav-toggle-icon,
.side-nav-toggle .side-nav-toggle-icon::after,
.side-nav-toggle .side-nav-toggle-icon::before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: white;
  content: '';
  height: 2px;
}

.side-nav-toggle .side-nav-toggle-icon {
  margin-top: 0;
  width: 22px;
}

.side-nav-toggle .side-nav-toggle-icon::after {
  margin-top: 6px;
  width: 22px;
}

.side-nav-toggle .side-nav-toggle-icon::before {
  margin-top: -6px;
  width: 22px;
}

.side-nav-toggle.expanded .side-nav-toggle-icon {
  background: transparent;
}

.side-nav-toggle.expanded .side-nav-toggle-icon::after, .side-nav-toggle.expanded .side-nav-toggle-icon::before {
  background: white;
  margin-top: 0;
}

.side-nav-toggle.expanded .side-nav-toggle-icon::after {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.side-nav-toggle.expanded .side-nav-toggle-icon::before {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* nav */
.side-nav {
  -webkit-transition: right 0.5s ease;
  -moz-transition: right 0.5s ease;
  -ms-transition: right 0.5s ease;
  -o-transition: right 0.5s ease;
  transition: right 0.5s ease;
  background: #b2b2b2;
  color: white;
  cursor: pointer;
  font-size: 2rem;
  height: 100vh;
  right: -310px;
  padding: 6rem 2rem 2rem 2rem;
  position: fixed;
  top: 0;
  width: 240px;
  z-index: 1;
}

.side-nav ul {
  list-style: none;
  margin-top: 1.5rem;
  padding: 0;
  text-align: center;
}

.side-nav ul li {
  margin-bottom: 1.5rem;
}

.side-nav ul a {
  font-size: 1.25rem;
  line-height: 1.625rem;
  color: #333333;
}

.side-nav ul a:hover {
  border-bottom: #333333 2px solid;
  padding-bottom: 1px;
}

.side-nav.expanded {
  right: 0;
}

.testimonial {
  background-color: #f5f5f5;
  padding: 3rem;
  margin-left: 3rem;
  margin-right: 3rem;
  max-width: calc(100% / 3);
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.testimonial p:first-of-type {
  margin-bottom: 3rem;
}

.testimonial .testimonial-name {
  color: #515356;
}

@media screen and (min-width: 48rem) and (max-width: 64rem) {
  .testimonial {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}

@media screen and (max-width: 48rem) {
  .testimonial {
    max-width: 100%;
    padding: 2rem;
    margin-top: 1.5rem;
  }
}

.top-nav {
  max-width: 500px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 0;
  padding-top: 2rem;
}

.top-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style: none;
  margin: 0 auto;
  text-align: center;
}

.top-nav ul a {
  color: #ffffff;
  text-transform: uppercase;
}

.top-nav ul a:hover {
  border-bottom: #ffffff 2px solid;
  padding-bottom: 1px;
}

@media screen and (max-width: 800px) {
  .top-nav {
    display: none;
  }
}

.container {
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 1rem;
}

@media screen and (min-width: 48rem) and (max-width: 64rem) {
  container {
    padding: 0 1.5rem;
  }
}
